%h1 Library

%p= params[:path]

%ul.detail-list.small-block-grid-3.large-block-grid-4
  - Dir.glob("#{params[:path]}/*").each do |file|
    %li
      - if File.directory?(file)
        = link_to library_list_content_path(path: file) do
          .tile= file.split('/').last
      

      - else
        = link_to library_play_file_path(file: file), remote: true do
          .tile.play-tile
            = file.split('/').last
            context stuff
