!!!
%html{ lang: "en" }
  %head
    %title Videeotic

    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    = stylesheet_link_tag    "application", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body
    .row
      .colums
        = yield

  %footer

#player-controls.reveal-modal{ 'data-reveal' => true, class: system('pidof omxplayer.bin') ? 'showit' : '' }
  %h2 File playing...
  %p.lead Player Controls:

  = link_to 'quit', playback_quit_path, class: 'button close-reveal-modal', remote: true

  .button-bar
    %ul.button-group
      %li= link_to '<<<', playback_prev_big_path, class: 'button', remote: true
      %li= link_to '<', playback_prev_small_path, class: 'button', remote: true
      %li= link_to 'Play/Pause', playback_play_path, class: 'button', remote: true
      %li= link_to '>', playback_next_small_path, class: 'button', remote: true
      %li= link_to '>>>', playback_next_big_path, class: 'button', remote: true

    %ul.button-group
      %li= link_to '+', playback_vol_up_path, class: 'button', remote: true
      %li= link_to '-', playback_vol_down_path, class: 'button', remote: true
